.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-heading {
  color: #ffffff;
  font-size: 1rem;
  font-style: italic;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.75;
  margin-right: var(--dl-space-space-unit);
  text-transform: uppercase;
  list-style-type: disc;
  text-decoration: none;
  list-style-image: none;
  list-style-position: outside;
}
.header-heading:active {
  font-style: italic;
  font-weight: 700;
}
.header-container1 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  text-decoration: none;
}
.header-navlink1 {
  color: #ffffff;
  font-size: 1rem;
  font-style: italic;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.header-navlink1:active {
  font-style: italic;
  font-weight: 700;
}
.header-container2 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.header-text {
  color: #ffffff;
  font-size: 1rem;
  font-style: italic;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.header-text:active {
  font-style: italic;
  font-weight: 700;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink2 {
  display: contents;
}
.header-heading1 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon02 {
  width: 24px;
  height: 24px;
}
.header-mid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.header-container3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
  text-decoration: none;
}
.header-icon04 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
.header-text1 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-space-space-halfunit);
}
.header-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.header-icon06 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
.header-text2 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-space-space-halfunit);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-direction: row;
}
.header-icon11 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon13 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon15 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-root-class-name {
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .header-icon11 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon13 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon15 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-container1 {
    display: none;
  }
  .header-container2 {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon {
    fill: var(--dl-color-secondary-400);
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
}

.label-container {
  display: flex;
  position: relative;
}
.label-text {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}

.member-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.member-details-image {
  width: 100px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.member-details-text {
  color: var(--dl-color-secondary-100);
  text-align: center;
  padding-top: var(--dl-space-space-unitandhalf);
}
.member-details-text1 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  text-transform: uppercase;
}

.service-card-container {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.service-card-container1 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.service-card-icon {
  fill: var(--dl-color-secondary-100);
  width: 24px;
  height: 24px;
}
.service-card-text {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.service-card-text1 {
  color: var(--dl-color-secondary-500);
  font-size: 1.25rem;
  text-align: center;
}
@media(max-width: 991px) {
  .service-card-container {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}

.secondary-button-container {
  display: flex;
  position: relative;
}
.secondary-button-button {
  color: var(--dl-color-gray-white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  background-color: var(--dl-color-secondary-300);
}
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.secondary-button-button:active {
  background-color: var(--dl-color-secondary-100);
}
.secondary-button-root-class-name {
  margin-top: var(--dl-space-space-unitandhalf);
}
.secondary-button-root-class-name1 {
  margin-top: var(--dl-space-space-unitandhalf);
}
.secondary-button-root-class-name2 {
  margin-top: var(--dl-space-space-unitandhalf);
}

.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.footer-container01 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container02 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
}
.footer-text02 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container03 {
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon {
  fill: #37BCF8;
  width: 16px;
  height: 16px;
}
.footer-container05 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon2 {
  fill: #ea4c89;
  width: 16px;
  height: 16px;
}
.footer-container06 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon4 {
  fill: #4267B2;
  width: 16px;
  height: 16px;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon6 {
  width: 16px;
  height: 16px;
}
.footer-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 6rem;
  flex-direction: column;
}
.footer-text03 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text04 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text05 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text06 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text07 {
  color: var(--dl-color-secondary-500);
}
.footer-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text08 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text09 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text10 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text11 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text12 {
  color: var(--dl-color-secondary-500);
}
.footer-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
.footer-text13 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container01 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container02 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container09 {
    align-items: center;
  }
  .footer-container10 {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .footer-text02 {
    text-align: center;
  }
  .footer-container08 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container09 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container10 {
    align-items: center;
  }
}

.a-c-a-d-e-m-i-c-s-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fFNDSE9PTHxlbnwwfHx8fDE2NDcwOTQ2MTE&ixlib=rb-1.2.1&w=1500');
}
.a-c-a-d-e-m-i-c-s-bg {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.7;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.a-c-a-d-e-m-i-c-s-container01 {
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.a-c-a-d-e-m-i-c-s-container02 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.a-c-a-d-e-m-i-c-s-text {
  color: var(--dl-color-gray-white);
  text-align: center;
  transition: 0.3s;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.a-c-a-d-e-m-i-c-s-container03 {
  width: 200px;
  height: 33px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-button {
  color: #ffffff;
  width: 342px;
  display: flex;
  position: relative;
  transition: 0.3s;
  font-family: Montserrat;
  border-color: #111729;
  border-width: 3px;
  border-radius: 30px;
  flex-direction: row;
  background-color: #111729;
}
.a-c-a-d-e-m-i-c-s-button:hover {
  color: #111729;
  background-color: #ffffff;
}
.a-c-a-d-e-m-i-c-s-text05 {
  color: #ffffff;
  font-size: 1.6rem;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
}
.a-c-a-d-e-m-i-c-s-text05:hover {
  color: #111729;
}
.a-c-a-d-e-m-i-c-s-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.a-c-a-d-e-m-i-c-s-image1 {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
.a-c-a-d-e-m-i-c-s-section1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
.a-c-a-d-e-m-i-c-s-container04 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-container05 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-text06 {
  color: var(--dl-color-pimary-500);
  font-size: 0.875em;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.a-c-a-d-e-m-i-c-s-text09 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.a-c-a-d-e-m-i-c-s-text10 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
.a-c-a-d-e-m-i-c-s-text11 {
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.a-c-a-d-e-m-i-c-s-cards-container {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.a-c-a-d-e-m-i-c-s-card1 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.a-c-a-d-e-m-i-c-s-container06 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #f87171, #dc2626);
}
.a-c-a-d-e-m-i-c-s-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.a-c-a-d-e-m-i-c-s-text12 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.a-c-a-d-e-m-i-c-s-text13 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.a-c-a-d-e-m-i-c-s-card2 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.a-c-a-d-e-m-i-c-s-container07 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #38bdf8, #0284c7);
}
.a-c-a-d-e-m-i-c-s-icon02 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.a-c-a-d-e-m-i-c-s-text14 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.a-c-a-d-e-m-i-c-s-text15 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.a-c-a-d-e-m-i-c-s-card3 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.a-c-a-d-e-m-i-c-s-container08 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #34d399, #059669);
}
.a-c-a-d-e-m-i-c-s-icon04 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.a-c-a-d-e-m-i-c-s-text16 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.a-c-a-d-e-m-i-c-s-text17 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.a-c-a-d-e-m-i-c-s-work-with-us {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
}
.a-c-a-d-e-m-i-c-s-container09 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-container10 {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.a-c-a-d-e-m-i-c-s-icon06 {
  fill: var(--dl-color-secondary-500);
  width: 24px;
  height: 24px;
}
.a-c-a-d-e-m-i-c-s-text18 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-text19 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.a-c-a-d-e-m-i-c-s-text20 {
  font-weight: 300;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.a-c-a-d-e-m-i-c-s-text23 {
  font-weight: 300;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.a-c-a-d-e-m-i-c-s-text24 {
  color: var(--dl-color-secondary-400);
  font-style: normal;
  font-weight: 700;
}
.a-c-a-d-e-m-i-c-s-container11 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
.a-c-a-d-e-m-i-c-s-container12 {
  width: 100%;
  height: 269px;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius50);
  border-top-right-radius: var(--dl-radius-radius-radius50);
}
.a-c-a-d-e-m-i-c-s-image2 {
  top: auto;
  left: auto;
  width: 100%;
  bottom: 0px;
  object-fit: cover;
  margin-bottom: -1px;
}
.a-c-a-d-e-m-i-c-s-container13 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-text25 {
  font-size: 1.25rem;
}
.a-c-a-d-e-m-i-c-s-text26 {
  color: #f2f5f9ff;
  font-weight: 700;
  white-space: normal;
}
.a-c-a-d-e-m-i-c-s-text27 {
  color: #f2f5f9ff;
  margin-top: var(--dl-space-space-unit);
}
.a-c-a-d-e-m-i-c-s-image3 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.a-c-a-d-e-m-i-c-s-section2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.a-c-a-d-e-m-i-c-s-container14 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-text29 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  line-height: 2.5rem;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.a-c-a-d-e-m-i-c-s-text30 {
  font-weight: 700;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.a-c-a-d-e-m-i-c-s-text31 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandhalf);
}
.a-c-a-d-e-m-i-c-s-growing-company-section {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.a-c-a-d-e-m-i-c-s-image4 {
  width: 33%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
}
.a-c-a-d-e-m-i-c-s-container15 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-container16 {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.a-c-a-d-e-m-i-c-s-icon08 {
  fill: var(--dl-color-pimary-500);
  width: 24px;
  height: 24px;
}
.a-c-a-d-e-m-i-c-s-text32 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unitandhalf);
}
.a-c-a-d-e-m-i-c-s-text33 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unitandhalf);
}
.a-c-a-d-e-m-i-c-s-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-container18 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.a-c-a-d-e-m-i-c-s-icon10 {
  fill: var(--dl-color-pimary-500);
  width: 20px;
  height: 20px;
}
.a-c-a-d-e-m-i-c-s-text34 {
  color: var(--dl-color-secondary-400);
}
.a-c-a-d-e-m-i-c-s-container19 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-container20 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.a-c-a-d-e-m-i-c-s-icon12 {
  fill: var(--dl-color-pimary-500);
  width: 20px;
  height: 20px;
}
.a-c-a-d-e-m-i-c-s-text35 {
  color: var(--dl-color-secondary-400);
}
.a-c-a-d-e-m-i-c-s-container21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-container22 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.a-c-a-d-e-m-i-c-s-icon15 {
  fill: var(--dl-color-pimary-500);
  width: 20px;
  height: 20px;
}
.a-c-a-d-e-m-i-c-s-text36 {
  color: var(--dl-color-secondary-400);
}
.a-c-a-d-e-m-i-c-s-container23 {
  flex: 0 0 auto;
  width: 66%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-text37 {
  color: #f97316ff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}
.a-c-a-d-e-m-i-c-s-text39 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.a-c-a-d-e-m-i-c-s-text40 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
.a-c-a-d-e-m-i-c-s-text41 {
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.a-c-a-d-e-m-i-c-s-team {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.a-c-a-d-e-m-i-c-s-container24 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.a-c-a-d-e-m-i-c-s-container25 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.a-c-a-d-e-m-i-c-s-container26 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.a-c-a-d-e-m-i-c-s-container27 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #37BCF8;
}
.a-c-a-d-e-m-i-c-s-icon17 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container28 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #4aa4e3ff;
}
.a-c-a-d-e-m-i-c-s-icon19 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container29 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EC4999;
}
.a-c-a-d-e-m-i-c-s-icon21 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container30 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.a-c-a-d-e-m-i-c-s-container31 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.a-c-a-d-e-m-i-c-s-container32 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #BD195D;
}
.a-c-a-d-e-m-i-c-s-icon23 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container33 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #4aa4e3ff;
}
.a-c-a-d-e-m-i-c-s-icon25 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container34 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.a-c-a-d-e-m-i-c-s-container35 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.a-c-a-d-e-m-i-c-s-container36 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #37BCF8;
}
.a-c-a-d-e-m-i-c-s-icon27 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container37 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #4aa4e3ff;
}
.a-c-a-d-e-m-i-c-s-icon29 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container38 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #BD195D;
}
.a-c-a-d-e-m-i-c-s-icon31 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container39 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.a-c-a-d-e-m-i-c-s-container40 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.a-c-a-d-e-m-i-c-s-container41 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #37BCF8;
}
.a-c-a-d-e-m-i-c-s-icon33 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container42 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #4aa4e3ff;
}
.a-c-a-d-e-m-i-c-s-icon35 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container43 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EC4999;
}
.a-c-a-d-e-m-i-c-s-icon37 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-container44 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #BD195D;
}
.a-c-a-d-e-m-i-c-s-icon39 {
  fill: var(--dl-color-gray-white);
  width: 18px;
  height: 18px;
}
.a-c-a-d-e-m-i-c-s-section3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-secondary-100);
}
.a-c-a-d-e-m-i-c-s-container45 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-text42 {
  font-style: normal;
  font-weight: 700;
}
.a-c-a-d-e-m-i-c-s-text44 {
  color: var(--dl-color-gray-white);
}
.a-c-a-d-e-m-i-c-s-text45 {
  width: 80%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.a-c-a-d-e-m-i-c-s-text46 {
  white-space: normal;
}
.a-c-a-d-e-m-i-c-s-services {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.a-c-a-d-e-m-i-c-s-container46 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-container47 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.a-c-a-d-e-m-i-c-s-icon41 {
  width: 24px;
  height: 24px;
}
.a-c-a-d-e-m-i-c-s-text47 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.a-c-a-d-e-m-i-c-s-text48 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.a-c-a-d-e-m-i-c-s-container48 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-container49 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.a-c-a-d-e-m-i-c-s-icon43 {
  width: 24px;
  height: 24px;
}
.a-c-a-d-e-m-i-c-s-text49 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.a-c-a-d-e-m-i-c-s-text50 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.a-c-a-d-e-m-i-c-s-contact {
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-text51 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-text52 {
  color: rgba(255,255,255,0.75);
  width: 80%;
  text-align: center;
  font-weight: 300;
}
.a-c-a-d-e-m-i-c-s-form {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-twoandhalf);
  max-width: 700px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-pimary-800);
}
.a-c-a-d-e-m-i-c-s-text53 {
  color: var(--dl-color-secondary-400);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.a-c-a-d-e-m-i-c-s-text54 {
  color: rgba(100,116,139,1);
}
.a-c-a-d-e-m-i-c-s-text55 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-textinput {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.a-c-a-d-e-m-i-c-s-textinput:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.a-c-a-d-e-m-i-c-s-text56 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-textinput1 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.a-c-a-d-e-m-i-c-s-textinput1:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.a-c-a-d-e-m-i-c-s-text57 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.a-c-a-d-e-m-i-c-s-textarea {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.a-c-a-d-e-m-i-c-s-textarea:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px #4AA4E3;
}
.a-c-a-d-e-m-i-c-s-container50 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.a-c-a-d-e-m-i-c-s-image5 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .a-c-a-d-e-m-i-c-s-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .a-c-a-d-e-m-i-c-s-card1 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .a-c-a-d-e-m-i-c-s-card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .a-c-a-d-e-m-i-c-s-card3 {
    width: 90%;
  }
  .a-c-a-d-e-m-i-c-s-section2 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .a-c-a-d-e-m-i-c-s-text29 {
    text-align: center;
  }
  .a-c-a-d-e-m-i-c-s-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .a-c-a-d-e-m-i-c-s-container45 {
    width: 100%;
  }
  .a-c-a-d-e-m-i-c-s-services {
    align-items: center;
    flex-direction: column;
  }
  .a-c-a-d-e-m-i-c-s-container46 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .a-c-a-d-e-m-i-c-s-container48 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .a-c-a-d-e-m-i-c-s-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .a-c-a-d-e-m-i-c-s-container05 {
    width: 100%;
  }
  .a-c-a-d-e-m-i-c-s-work-with-us {
    margin-top: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .a-c-a-d-e-m-i-c-s-container09 {
    width: 100%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .a-c-a-d-e-m-i-c-s-container11 {
    width: 100%;
  }
  .a-c-a-d-e-m-i-c-s-container14 {
    width: 100%;
  }
  .a-c-a-d-e-m-i-c-s-growing-company-section {
    flex-direction: column;
  }
  .a-c-a-d-e-m-i-c-s-image4 {
    width: 100%;
  }
  .a-c-a-d-e-m-i-c-s-container15 {
    width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .a-c-a-d-e-m-i-c-s-container23 {
    width: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-c-a-d-e-m-i-c-s-container24 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .a-c-a-d-e-m-i-c-s-container25 {
    width: 50%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .a-c-a-d-e-m-i-c-s-container30 {
    width: 50%;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .a-c-a-d-e-m-i-c-s-container34 {
    width: 50%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .a-c-a-d-e-m-i-c-s-container39 {
    width: 50%;
  }
  .a-c-a-d-e-m-i-c-s-form {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .a-c-a-d-e-m-i-c-s-hero {
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fFNDSE9PTHxlbnwwfHx8fDE2NDcwOTQ2MTE&ixlib=rb-1.2.1&w=1500');
  }
  .a-c-a-d-e-m-i-c-s-container02 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .a-c-a-d-e-m-i-c-s-card1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .a-c-a-d-e-m-i-c-s-text13 {
    text-align: left;
  }
  .a-c-a-d-e-m-i-c-s-card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .a-c-a-d-e-m-i-c-s-text15 {
    text-align: left;
  }
  .a-c-a-d-e-m-i-c-s-text17 {
    text-align: left;
  }
  .a-c-a-d-e-m-i-c-s-container15 {
    align-items: flex-start;
  }
  .a-c-a-d-e-m-i-c-s-container24 {
    align-items: center;
    flex-direction: column;
  }
  .a-c-a-d-e-m-i-c-s-text44 {
    text-align: center;
  }
  .a-c-a-d-e-m-i-c-s-text51 {
    text-align: center;
  }
  .a-c-a-d-e-m-i-c-s-text53 {
    text-align: left;
  }
}
